.h1{ line-height: 1px; }

.h2 {
    color: limegreen;
    line-height: 30x;
}

.h3 { line-height: 1px; }

.h4 { line-height: 1px; }

.li { line-height: 1px; }

.institution { 
    line-height: 5px; 
    color: deepskyblue;
}

.section {
    padding-top: 10px;
}

.page {
    font-family: Arial, Helvetica, sans-serif;
    border-width: 3px;
    border-color: black;
    border-style: groove;
    border-radius: 5px;
    padding: 5vw 10vh 5vw 10vh;
}

.divider {
    margin: 2vh 10vw 2vh 10vw;
}

.pillGroup {
    display: inline-flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 1vw;
}

.pill {
    background-color: gainsboro;
    border-radius: 5px;
}