<div class="page">
  <hr class="divider"/>
  <section class="section">
      <h1 class="h1">{{candidate.Name}}</h1>
      <h2 class="h2">{{candidate.Position}}</h2>
      <h3 class="h3">{{candidate.Address}}</h3>
      <h3 class="h3">{{candidate.PhoneNumber}}</h3>
      <h3 class="h3">{{candidate.Email}}</h3>
  </section>
  <section class="section">
      <h2 class="h2">Skills</h2>
      <div class="pillGroup">
        @for (skill of skills; track $index) {<span class="pill">{{skill.Name}}</span>}
        @empty {<span class="pill">No skills for this candidate</span>}
      </div>
  </section>
  <section class="section">
      <h2 class="h2">Education</h2>
      @for (education of educations; track $index) {
          <h3 class="institution">{{education.Institute}}</h3>
          <h3 class="h3">{{education.Degree}}</h3>
          <h3 class="h3">From {{education.From}} to {{education.To}}</h3>
      }
      @empty {<h3 class="h3">No education for this candidate</h3>}
  </section>
  <section class="section">
      <h2 class="h2">Experience</h2>
      @for (experience of experiences; track $index) {
          <h3 class="institution">{{experience.Company}}</h3>
          <h3 class="h3">{{experience.Position}}</h3>
          <h3 class="h3">{{experience.From}} - {{experience.To}}</h3>
          <ul>
            @for (learnedSkill of experience.LearnedSkills; track $index) {
                <li><h4 class="h4">{{learnedSkill.Name}}</h4></li>
            }
            @empty {<li><h4 class="h4">No new skills learned from this experience</h4></li>}
          </ul>
      }
      @empty {<h3 class="h3">No experience for this candidate</h3>}
  </section>
</div>

<router-outlet />